doctype

html(lang="ru")
  
  -var active = 'Услуги' //активный пункт меню, список в header.jade
  -var pageTitle = '1 услуга' + ' - Ломбард «Національний»' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content.no--p-bottom
      
      .breadcrumbs
        .container
          ul
            li
              a(href="#!") 
                i.fa.fa-home
                | Главная
            li
              a(href="#!") 
                | Услуги
      
      .content__top(style="background-image: url('./img/content-top-background-2.jpg');")
        .container
          
          .content__top-wrapper
            .row
              .col-md-6.col-md-push-6.col-sm-7.col-sm-push-5
                .section__head
                  div
                    h1 Быстрый выкуп
                p Краткое описание Скупка украшений с бриллиантами и другими драгоценными камнями — это именно то, в чем мы отлично разбираемся.
                a(href="#!").btn Связаться с нами
      
      .section
        .container
          
          .section__head.section__head--center
            div
              .h1 Условия и правила
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          
          .row
            .col-md-6
              h2 Ломбардный займ
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-6
              h2 Права и обязанности клиента
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
