doctype

html(lang="ru")
  
  -var active = 'Каталог' //активный пункт меню, список в header.jade
  -var pageTitle = 'Каталог - изделия в продаже' + ' - Ломбард «Національний»' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .content
      
      .breadcrumbs
        .container
          ul
            li
              a(href="#!") 
                i.fa.fa-home
                | Главная
      
      .container
        .section__head.section__head--center
          div
            h1 Продажа
          p.mwidth-750 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    
        .main-buttons.main-buttons--document
          ul
            li
              a(href="#!").main-buttons__btn
                img(src="./img/main-buttons-1.jpg", alt="").main-buttons__img
                span Бриллианты в продаже
            li.active
              a(href="#!").main-buttons__btn
                img(src="./img/main-buttons-2.jpg", alt="").main-buttons__img
                span Изделия в продаже
        
        .catalog
          .catalog__row
            - for (var i=0; i<5; i++) {
            div
              .catalog__block
                .catalog__block-img
                  a(href="#!")
                    img(src="./img/catalog-list-img-1.png", alt="")
                .catalog__block-content
                  a(href="#!").catalog__block-title Гарнитур с бриллиантом
                  .catalog__block-articul Артикул: 125689
                  .catalog__block-price
                    div 12 100 
                      small грн
                    div 
                      s 15 100 
                          small грн
            div
              .catalog__block
                .catalog__block-img
                  a(href="#!")
                    img(src="./img/catalog-list-img-2.png", alt="")
                .catalog__block-content
                  a(href="#!").catalog__block-title Гарнитур с бриллиантом
                  .catalog__block-articul Артикул: 125689
                  .catalog__block-price
                    div 12 100 
                      small грн
                    div 
                      s 15 100 
                          small грн
            div
              .catalog__block
                .catalog__block-img
                  a(href="#!")
                    img(src="./img/catalog-list-img-3.png", alt="")
                .catalog__block-content
                  a(href="#!").catalog__block-title Кольцо бабочка с бриллиантом
                  .catalog__block-articul Артикул: 125689
                  .catalog__block-price
                    div 12 100 
                      small грн
            - }
          
        
        .pagination
          ul
            li
              a(href="#!")
                i.fa.fa-angle-left
            li.active
              a(href="#!") 1
            li
              a(href="#!") 2
            li
              a(href="#!") 3
            li
              a(href="#!")
                i.fa.fa-angle-right

    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
