script(src='./js/libs/jquery.maskedinput/jquery.maskedinput.min.js')
script(src='./js/libs/tablesorter-master/js/jquery.tablesorter.js')
script(src='./js/libs/tablesorter-master/js/jquery.tablesorter.widgets.js')
