// Footer
footer.footer
  .container
    
    .footer__top
      .row
        .col-md-6
          .footer__title Наши контакты
          .footer__contact
            div
              .footer__contact-block
                i.fa.fa-map-marker
                | Харьков, 
                br.hidden-lg
                | ул. Отакара Яроша, 23
              .footer__contact-block
                i.fa.fa-clock-o
                | Пн - Пт с 9:00 до 18:00
            div
              .footer__contact-block
                i.fa.fa-phone
                a(href="#!") +38(000) 789 98 83
              .footer__contact-block
                span
                  img(src="./img/icon/icon-viber.png", alt="") 
                  a(href="#!") Viber
                span
                  img(src="./img/icon/icon-whatsapp.png", alt="") 
                  a(href="#!") WhatsApp
        .col-md-6
          .footer__title Услуги
          ul.footer__ul
            li: a(href="#!") Быстрый кредит под залог золота и бриллиантов
            li: a(href="#!") Продажа бриллиантов и изделий
            li: a(href="#!") Быстрый выкуп
            li: a(href="#!") Экспертиза
      
    .footer__bottom
      .footer__bottom-left &copy; Ломбард Национальний, Отделение №5
      .footer__bottom-right Разработка 
        a(href="#!") DARTC
      .footer__bottom-center
        a(href="#!") Мережа Ломбард «Національний»
  
