// Header
header.header
  .container
    
    .header__top
      .header__top-wrapper
        div
          .header__top-contact
            i.fa.fa-map-marker
            | Харьков, ул. Отакара Яроша, 23
        div
          .header__top-contact
            i.fa.fa-phone
            a(href="#!") +38(000) 789 98 83
        div
          .header__top-contact
            i.fa.fa-clock-o
            | Пн - Пт с 9:00 до 18:00
        div
          .header__top-contact
            span
              img(src="./img/icon/icon-viber-2.png", alt="") 
              a(href="#!") Viber
            span
              img(src="./img/icon/icon-whatsapp-2.png", alt="") 
              a(href="#!") WhatsApp
  
    .header__bottom
      
      button.header__button(type="button")
        span
        | Меню
      
      .header__logo
        img(src="./img/logo.png", alt="")
        span Отделение №5
      
      a(href="#!").btn.header__btn Оплатить проценты
      
      .header__nav
        ul.header__nav-ul
          li.header__nav-li.visible-sm.visible-xs
            a(href="#!").btn Оплатить проценты
          li.header__nav-li
            a(href="#!").header__nav-a Ломбард
          li.header__nav-li
            a(href="#!").header__nav-a 
              i.fa.fa-diamond
              | Продажа
              i.fa.fa-angle-down
            ul.header__nav-ulul
              li.header__nav-lili
                a(href="#!").header__nav-aa Бриллианты в продаже
              li.header__nav-lili
                a(href="#!").header__nav-aa Изделия в продаже
          li.header__nav-li
            a(href="#!").header__nav-a Кредит
          li.header__nav-li
            a(href="#!").header__nav-a Услуги
              i.fa.fa-angle-down
            ul.header__nav-ulul
              li.header__nav-lili
                a(href="#!").header__nav-aa Покупка и продажа бриллиантов
              li.header__nav-lili
                a(href="#!").header__nav-aa Экспериза драгоценных камней и ювелирных изделий
          li.header__nav-li
            a(href="#!").header__nav-a Контакты
      
